.vagrant/
node_modules/
ansible/roles/*/meta/.galaxy_install_info
ansible/*.retry
/tmp/*
/log/*
/data/*
/public/*
!/log/.keep
!/tmp/.keep
!/public/.keep
!/data/*/.keep
/.envrc
/.vault_pass
/npm-debug.log
**/secrets/*/*
!**/secrets/*/*.secret
.gitsecret/keys/random_seed
docker-compose.yml
